.sheet-main {
  display: grid;
  /* Definition du tableau de ligne et colomne */
  grid-template-columns: [Cfirst] 197px [ligne2] 33px [ligne3] 22px [ligne4] 40px [ligne5] 117px [ligne6] 86px [ligne7] 110px [ligne8] 71px [ligne9] 13px [ligne10] 169px [ligne11] 42px [Cend];
  grid-template-rows: [Rfirst] 70px [row2] 39px [row3] 7px [row4] 39px [row5] 6px [row6] 39px [row7] 46px [row8] 140px [row9] 63px [row10] 160px [row11] 40px [Rend];
  width:    900px; /* Defines the width and height of the sheet */
  height:   650px;
  background-image: url(https://raw.githubusercontent.com/Seleythen/Macadabre/main/feuille%20docteur%20sheet%20modif.png);
  background-size: 900px 650px; /* Sets the sheet border image to same size as sheet */
  background-repeat: no-repeat;
}

.sheet-test{
    /* justification de la place des items */
    grid-column-start: ligne2;
    grid-column-end: ligne6;
    grid-row-start: row7;
    grid-row-end: row8;
    font-size: 20px; /* Taille de la police */
    font-weight: bold; /* Bold */
    font-family: Bradley Hand ITC; /* Police */
    justify-self: start; /* debute le texte à gauche du cadre */
    align-self: center; /* centre le texte */
    border: 1px dashed red; /* border - épaisseur - couleur */
}

